* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: white;
}

#nav {
    height: 100px;
    width: 100%;
    padding: 0px, 40px;
    /*  background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 4%;
}

#nav_part1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav h3 {
    font-size: 16px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}

#nav i {
    font-size: 17px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}

#nav h1 {
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}

#nav button {
    padding: 7px 12px;
    border-radius: 50px;
    font-size: 16px;
    border-radius: solid;
    font-weight: 600;
}

#btn2 {
    background-color: orangered;
    color: rgb(255, 255, 255);
    border: none;
}

#main>h1 {
    /* color: red; */
    font-size: 150px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    text-align: center;
}

img {
    height: 500px;
    width: 370px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    transform: translate(-50%, -50%);
}

#img1 {
    transform: translate(-50%, -50%) rotate(-30deg);
}

#img2 {
    transform: translate(-50%, -50%) rotate(-20deg);
}

#img3 {
    transform: translate(-50%, -50%) rotate(-10deg);
}

#btm-left {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

#btm-right {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

#btm-icon {
    position: absolute;
    bottom: 7%;
    right: 5%;
    display: flex;
    align-items: center;
    align-content: space-around;
}

#arrow {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0%;
    font-size: 40px;
    font-weight: 500;
}